@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
    cursor: url('circle-cursor.png'), auto;
  }
  .nav{
    color: red;
  }
  .intro{
    
    font-family: 'Fraunces', serif;


  }

  .name{
    font-size: 12rem;
    margin-top: 0%;
    position: relative;
  }
  .img{
    position:relative;
    margin-top: 0px;
   
  }
  #web{
    color: red;
   
    
   
  }